{% extends 'base.html' %}
{% block title %} Doctors {% endblock %}


{% block content %}

    {%for doctor in doctors%}
    {% for profile in profiles %}
    {% if profile.user_id == doctor.id%}
    <div class="row">
        <div clas="column" style="float:left;width:15%;">
            <a href="doctor/{{doctor.id}}">
                <img class="rounded-circle mt-5" style="width:150px; height:150px" src="{{profile.img.url}}">
            </a>
        </div>
        <div clas="column" style="float:left;width:15%;">
            {{profile.spec}} </br>
            {{doctor.first_name}} {{doctor.last_name}}
        </div>
        <div class="column" style="float:right; width:50%;">
            {{profile.desc}}
        </div>
        <div class="column" style="float:right; width:15%;">
            <form action="/create-chat/{{doctor.id}}" method="post">
                {% csrf_token %}
                <button type="submit" style="color:green;">Send message!</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {%endfor%}

{% endblock %}