{% extends 'base.html' %}


{% block title %} My visits {% endblock %}

{% block content %} 
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif%}

{%if next_visits %}
    <h2>Incoming visits</h2>
    {% for visit in next_visits%}
        <div class ="row"> 
            <div class="col">
                <a href="doctor/{{visit.doctor.id}}">{{visit.doctor.first_name}} {{visit.doctor.last_name}}</a> {{visit.date}} {{visit.minutes}} {{visit.time}}
            </div>
            <div class="col">
                <form action = "/delete/visit/{{visit.id}}" method="post">
                    {% csrf_token %}
                    <button type="submit" style="color:grey; float: right;">Delete</button>
                </form>
            </div>
        </div>
    {%endfor%}
{% endif %}

{%if today_visits %}
    <h2>Today</h2>
    {% for visit in today_visits%}
        <div class="row">
            <div class="col">
                <a href="doctor/{{visit.doctor.id}}">{{visit.doctor.first_name}} {{visit.doctor.last_name}}</a> {{visit.date}} {{visit.minutes}} {{visit.time}}
            </div>
            <div class="col">
                <form action="/delete/visit/{{visit.id}}" method="post">
                    {% csrf_token %}
                    <button type="submit" style="color:grey; float: right;">Delete</button>
                </form>
            </div>
        </div>
    {%endfor%}
{% endif %}


{%if past_visits %}
    <h2>Past visits</h2>
    {% for visit in past_visits%}
        <div> 
        <a href="doctor/{{visit.doctor.id}}">{{visit.doctor.first_name}} {{visit.doctor.last_name}}</a> {{visit.date}} {{visit.minutes}} {{visit.time}}
        </div>
    {%endfor%}
{% endif %}

</br>


<a class="btn btn-success" href="/new-visit" >Add new visit!</a>
{% endblock %}